/**
 * @file
 * Page Element
 *
 * Theming page related and all (*) elements.
 */

/**
  * Imports
 */
@import "../_global.importer";

/**
 * Settings
 */

/**
 * Body colors
 *
 * Set text- and background-color to body. Turn this off if you need anything
 * else background property than background-color, like background-image.
 */
$base-body-colors           : true;
$body-color                 : $global-color;
$body-background-color      : $global-background;

html {
  overflow-x: hidden;
  min-height: 100%;
}

body {
  min-height: 100vh;

  @if ($base-body-colors == true) {
    color: $body-color;
    background-color: $body-background-color;
  }
}
