/**
 * @file
 * Override Drupal Autocomplete Component
 *
 * Visual styles for autocomplete input field.
 * Based on Olivero.
 */

/**
  * Imports
 */
@import "../_global.importer";

/**
 ** Settings **
 */
$autocomplete-border-size-base      : $global-form-border-size-base;
$autocomplete-border-size-left      : $global-form-border-size-left;
$autocomplete-search-icon           : url("../../images/magnifying-glass.svg");
$autocomplete-throbber-icon         : url("../../images/throbber.svg");
$autocomplete-icon-right-offset     : 1.8rem;
$autocomplete-icon-top-offset       : calc(#{$autocomplete-icon-right-offset} - #{$autocomplete-border-size-base});

.form-autocomplete {
  html.js & {
    padding-right: 5.4rem;
    background:
      $autocomplete-search-icon no-repeat right $autocomplete-icon-right-offset top $autocomplete-icon-right-offset,
      linear-gradient(to right, #7e96a7 $autocomplete-border-size-left, transparent $autocomplete-border-size-left, transparent 100%) #f7f9fa;

    &:hover {
      background:
        $autocomplete-search-icon no-repeat right $autocomplete-icon-right-offset top $autocomplete-icon-right-offset,
        linear-gradient(to right, #d7e1e8 $autocomplete-border-size-left, transparent $autocomplete-border-size-left, transparent 100%),
        linear-gradient(to left, #d7e1e8 $autocomplete-border-size-base, transparent $autocomplete-border-size-base, transparent 100%) #f7f9fa;
    }

    &:focus {
      background:
        $autocomplete-search-icon no-repeat right $autocomplete-icon-right-offset top $autocomplete-icon-right-offset,
        linear-gradient(to right, #d7e1e8 $autocomplete-border-size-left, transparent var(--form-element-border-size-left), transparent 100%),
        linear-gradient(to left, #d7e1e8 $autocomplete-border-size-base, transparent $autocomplete-border-size-base, transparent 100%) #f7f9fa;
    }

    &.ui-autocomplete-loading {
      background:
        $autocomplete-search-icon no-repeat right $autocomplete-icon-right-offset top $autocomplete-icon-right-offset,
        linear-gradient(to right, #7e96a7 $autocomplete-border-size-left, transparent $autocomplete-border-size-left, transparent 100%) #f7f9fa;

      &:hover {
        background:
          $autocomplete-search-icon no-repeat right $autocomplete-icon-right-offset top $autocomplete-icon-right-offset,
          linear-gradient(to right, #d7e1e8 $autocomplete-border-size-left, transparent var(--form-element-border-size-left), transparent 100%),
          linear-gradient(to left, #d7e1e8 $autocomplete-border-size-base, transparent $autocomplete-border-size-base, transparent 100%) #f7f9fa;
      }

      &:focus {
        background:
          $autocomplete-search-icon no-repeat right $autocomplete-icon-right-offset top $autocomplete-icon-right-offset,
          linear-gradient(to right, #d7e1e8 $autocomplete-border-size-left, transparent $autocomplete-border-size-left, transparent 100%),
          linear-gradient(to left, #d7e1e8 $autocomplete-border-size-base, transparent $autocomplete-border-size-base, transparent 100%) #f7f9fa;
      }
    }
  }
}
