/**
 * @file
 * Open Sans fontface declarations
 * for First state webfont loading strategy
 */

$theme-root: "/themes/custom/starter_theme";

@font-face {
  font-family: "Open Sans";
  src:
    url("#{$theme-root}/fonts/opensans-regular-kern-latin.woff2") format("woff2"),
    url("#{$theme-root}/fonts/opensans-regular-kern-latin.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("#{$theme-root}/fonts/opensans-italic-kern-latin.woff2") format("woff2"),
    url("#{$theme-root}/fonts/opensans-italic-kern-latin.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("#{$theme-root}/fonts/opensans-bold-kern-latin.woff2") format("woff2"),
    url("#{$theme-root}/fonts/opensans-bold-kern-latin.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
