/**
 * @file
 * Utility classes to assist with Javascript functionality.
 */

/**
  * Imports
 */
@import "../_global.importer";

/**
 * For anything you want to hide on page load when JS is enabled, so
 * that you can use the JS to control visibility and avoid flicker.
 */
.js .js-hide {
  display: none !important;
}

/**
 * For anything you want to show on page load only when JS is enabled.
 */
.js-show {
  display: none !important;
}
.js .js-show {
  display: block !important;
}
