/**
 * @file
 * Grid Object Settings
 */

/**
 * Gutter
 */

/**
 * Define Gutter Sizes
 */
$gutter         : 1.5rem;      // 15px
$gutter--2x     : $gutter * 2; // 30px
$gutter--4x     : $gutter * 4; // 60px

/**
 * Responsive Aliases for Gutters
 */
$gutter--small  : $gutter !default;
$gutter--medium : $gutter--2x !default;
$gutter--large  : $gutter--4x !default;

/**
 * Default gutters
 *
 * This setting is shared between multiple objects and utilities as the default
 * value for gutters. You can change it also locally to each module.
 *
 * @type Number | List | Map
 */
$global-gutter-default: (
  null          : $gutter--small,
  small         : $gutter--medium,
  large         : $gutter--large
) !default;

/**
 * Additional grid gutters
 *
 * If you use additionally Container object with custom gutters
 * you have to set custom those custom gutters for Grid object too!
 *
 * You can use a nested map in case you would like to specify responsive gutter
 * sizes.
 *
 * @type Map
 *
 * @example
 *   $global-grid-gutter-extra: (
 *     large: (
 *       null : 2rem,
 *       small: 4rem
 *     )
 *   );
 */
$global-grid-gutter-extra: () !default;
