/**
 * @file
 * CSS Triangle Tool
 *
 * Generates a triangle pointing in a specified direction.
 *
 * Part of Shake.sass, borrowed from Bourbon.
 * @link https://www.bourbon.io/docs/latest#triangle
 * *
 * @example
 *   .button__arrow {
 *     @include make-triangle(right, 1.5rem, 1rem, $color-secondary);
 *   }
 */

/**
 * Make Triangle mixin
 *
 * @parameter {string} $direction
 *   The direction the triangle should point. Accepts `up`, `up-right`,
 *   `right`, `down-right`, `down`, `down-left`, `left` or `up-left`.
 *
 * @parameter {number (with unit)} $width
 *   Width of the triangle.
 *
 * @parameter {number (with unit)} $height
 *   Height of the triangle.
 *
 * @parameter {color} $color
 *   Color of the triangle.
 */
@mixin make-triangle($direction, $width, $height, $color) {
  @if not index(
    "up" "up-right" "right" "down-right" "down" "down-left" "left" "up-left",
    $direction
  ) {
    @error "Direction must be `up`, `up-right`, `right`, `down-right`, " +
      "`down`, `down-left`, `left` or `up-left`.";
  }

  @else if not _is-color($color) {
    @error "`#{$color}` is not a valid color for the `$color` argument in " +
      "the `triangle` mixin.";
  }

  @else {
    width: 0;
    height: 0;
    border-style: solid;

    @if $direction == "up" {
      border-width: 0 ($width / 2) $height;
      border-color: transparent transparent $color;
    }

    @else if $direction == "up-right" {
      border-width: 0 $width $width 0;
      border-color: transparent $color transparent transparent;
    }

    @else if $direction == "right" {
      border-width: ($height / 2) 0 ($height / 2) $width;
      border-color: transparent transparent transparent $color;
    }

    @else if $direction == "down-right" {
      border-width: 0 0 $width $width;
      border-color: transparent transparent $color;
    }

    @else if $direction == "down" {
      border-width: $height ($width / 2) 0;
      border-color: $color transparent transparent;
    }

    @else if $direction == "down-left" {
      border-width: $width 0 0 $width;
      border-color: transparent transparent transparent $color;
    }

    @else if $direction == "left" {
      border-width: ($height / 2) $width ($height / 2) 0;
      border-color: transparent $color transparent transparent;
    }

    @else if $direction == "up-left" {
      border-width: $width $width 0 0;
      border-color: $color transparent transparent;
    }
  }
}
